
.row {
  margin-top: 40px; 
}

a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

.col-lg-12 {
  padding: 20px; 
  background-color: #f8f9fa; 
  border-radius: 5px; 
  margin-bottom: 20px; 
}

body {
  background-image: url(img/forest-3622519_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 50vh; 
}

h1 {
  text-align: center;
}

.carousel {
  max-width: 600px; 
  margin: auto; 
}

.carousel img {
  height: auto; /* Resimlerin boyutunu orantılı şekilde ayarlar */
  width: 100%; /* Resimlerin genişliğini slider genişliğine göre ayarlar */
}

.carousel-indicators {
  bottom: -40px; /* Gösterge noktalarını slider'ın altına yerleştirir */
}

.carousel-control-prev,
.carousel-control-next {
  width: auto; /* Yönlendirme düğmelerinin genişliğini otomatik olarak ayarlar */
  margin-top: -20px; /* Yönlendirme düğmelerini slider'ın üstüne yerleştirir */
  background: none; /* Yönlendirme düğmelerinin arka planını kaldırır */
  border: none; /* Yönlendirme düğmelerinin kenarlığını kaldırır */
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.8); /* Başlık arka planını hafifçe şeffaflaştırır */
}

h4{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

